{% extends 'partials/main.html' %}

{% block title %}Log In{% endblock title %}

{% block content %}
<div class="section left-heavy">
    <div>
        <h2>Log In to Bloom <i class="bi bi-person-add"></i></h2>
        <p>
            and continue enjoying all the perks that come with an account:
            <li><i>Create, upload, comment on and share videos</i></li>
            <li><i>Personalise your account using CSS*, or existing themes by the community</i></li>
            <li><i>Create playlists to save your favourite videos for later</i></li>
            <li><i>Follow the creators you enjoy and see their latest uploads on your homepage</i></li>
            <li><i>...and more on the way!</i></li>
        </p>
        <small>*Custom CSS only available to select users</small>
    </div>
    <div>
        <form action="" method="post">
            <div class="input-group vertical">
                <input type="email" name="login" placeholder="E-mail address" autocomplete="email" required="" id="id_login">
                <input type="password" name="password" placeholder="Password" autocomplete="current-password" required="" id="id_password">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="primary">Log in</button>
            </div>
            <hr>
            <input type="checkbox" name="remember" id="id_remember"> Remember me
        </form>
        <hr>
        <p>
            Help! I <a href="">forgot my password</a>!<br>
            No thanks, I want to <a href="{% url 'account_signup' %}">sign up</a> instead
        </p>
    </div>
</div>
{% endblock content %}