{% load static %}

<div class="navbar">
    <img src="{% static 'img/brand/bloom.svg' %}" height=24 style="margin-right: 5px" alt="">
    <a href="{% url 'home' %}" {% if request.path == '/' %}class="active"{% endif %}>Home</a>
    <a href="" {% if request.path == '/users' %}class="active"{% endif %}>Users</a>
    <a href="" {% if request.path == '/video' %}class="active"{% endif %}>Video</a>
    <div class="side">
        <form action="" method="get">
            <div class="input-group horizontal">
                <input type="text" name="q" id="" placeholder="cool cat videos...">
                <input type="submit" value="&#x1F50D;&#xFE0E;">
            </div>
        </form>
        {% if user.is_authenticated %}
        <div class="input-group horizontal">
            <button><i class="bi bi-person override"></i> {{ user.username }}</button>
            <button onclick="window.location.href = '{% url 'account_logout' %}'"><i class="bi bi-box-arrow-right"></i></button>
        </div>
        <button class="primary"><i class="bi bi-upload override"></i></button>
        {% else %}
        <div class="input-group horizontal">
            <button onclick="window.location.href = '{% url 'account_login' %}'">Log In</button>
            <button onclick="window.location.href = '{% url 'account_signup' %}'" class="primary">Sign Up</button>
        </div>
        {% endif %}
    </div>
</div>