{% extends 'partials/main.html' %}

{% block content %}
<div class="section left-heavy">
    <div>
        <h2>Sign Up</h2>
        <p>...and enjoy all the benefits:</p>
        <ul>
            <i>
                <li>Your very own profile, with custom styling*</li>
                <li>Like, comment, share and upload videos</li>
                <li>Follow your favourite creators</li>
                <li>Give exceptional videos and users awards</li>
            </i>
        </ul>
    </div>
    <div>
        <div class="input-group vertical">
            <input type="text" name="username" id="" placeholder="Username">
            <input type="email" name="email" id="" placeholder="Email">
            <input type="password" name="password" id="" placeholder="Password">
            <input type="password" name="password_confirm" id="" placeholder="Confirm password">
            <input type="submit" value="Create an account" class="primary">
        </div>
    </div>
</div>
{% endblock content %}