{% extends 'partials/main.html' %}

{% block content %}
<div class="section">
    <input type="text" name="" id="" placeholder="Text input">
    <button>Button</button>
    <button class="primary">Button</button><br>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <div class="input-group horizontal">
        <input type="text" name="" id="" placeholder="Text input">
        <button>Button</button>
        <button class="primary">Button</button>
    </div>
</div>
{% endblock content %}